[Unit]
Description=Configure Caracal OS for current user
ConditionUser=!@system
Before=graphical-session-pre.target
Before=graphical-session.target
Before=plasma-plasmashell.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/caracal-user-setup

[Install]
WantedBy=default.target
